<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itrip.dao.UserMapper">
    <select id="getUsersByParams" resultType="com.itrip.pojo.User" parameterType="java.util.Map">
        SELECT * FROM smbms_user
        WHERE 1=1
        <if test="userName != null and userName != ''">
            AND userName LIKE CONCAT('%',#{userName},'%')
        </if>
        LIMIT #{from},#{limit};
    </select>
    <select id="getUsersCountByParams" resultType="int" parameterType="java.util.Map">
        SELECT COUNT(1) FROM smbms_user
        WHERE 1=1
        <if test="userName != null and userName != ''">
            AND userName LIKE CONCAT('%',#{userName},'%')
        </if>
    </select>
</mapper>